* {
    box-sizing: border-box;
}

@font-face {
    font-family: euro;
    src: url(../font/eurof55.ttf);
}

html {
    line-height: 1.76;
    font-family: euro, serif;
    font-size: 16px;
}

body {
    margin: 0;
}

.screen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(58, 57, 57, 0.7);
    /* display: none; */
    visibility: hidden;
    z-index: 4;
    transition: opacity .8s;
    padding: 60px;
    font-size: 35px;
    color: white;
}
.menu-open .screen {
    visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    line-height: 1.3;
}

h2 {
    text-align: center;
}

p {
    margin: 0 0 1.25rem;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    cursor: pointer;
}

/* Layout */

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.main-content {
    background-color: #ffffff;
    border-right: 1px solid#e1e0e0;
    border-left: 1px solid #e1e0e0;
    padding-top: 40px;
}

/* header */

.burger-menu {
    display: none;
}
.main-header {
    height: 110px;
    background-color: #292929;
    flex-direction: column;
    text-align: center;
}

.main-header .header-container {
    height: 100%;
}

.main-header .logo img {
    text-align: left;
}

.main-header .main-nav a {
    font-family: euro, sans-serif;
    height: 110px;
    width: 100px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.main-header .main-nav a:hover {
    color: #f0c758;
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #f0c758;
    background-color: f0c758;
}

.main-header .main-nav a:last-child:hover {
    box-shadow: -2px 0 0 #1d1d1d, inset -2px 0 0 #1d1d1d, inset 0 -6px 0 #f0c758;
    ;
}

/* main*/

.main-content {
    background-color: burlywood;
    /* background-color: #292929; */
}

.card canvas {
    margin-left: 20px;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    margin-top: 20px;
    margin-left: 20px;
    grid-template-columns: repeat(6, 65px);
    grid-template-rows: repat(12, 65px);
    grid-gap: 10px;
}

a {
    width: 65px;
    height: 65px;
}

.iteminput {
    grid-column: 1/4;
    grid-row: 1/2;
}

.itemup {
    grid-column: 2/3;
    grid-row: 2/3;
}

.itemdonw {
    grid-column: 2/3;
    grid-row: 4/5;
}

.itemright {
    grid-column: 3/4;
    grid-row: 3/4;
}

.itemleft {
    grid-column: 1/2;
    grid-row: 3/4;
}

.font-color {
    grid-column: 5/6;
    grid-row: 2/3;
}

.itembigeer {
    grid-column: 5/6;
    grid-row: 3/4;
}

.itemlittel {
    grid-column: 5/6;
    grid-row: 4/5;
}

.itemadd {
    grid-column: 6/7;
    grid-row: 1/2;
}

.itemtrash {
    grid-column: 6/7;
    grid-row: 3/4;
}

.stroke-color {
    grid-column: 6/7;
    grid-row: 2/3;
}

.itemswich {
    grid-column: 6/7;
    grid-row: 4/5;
}

.itemfont {
    grid-column: 5/7;
    grid-row: 6/7;
    height: 2rem;
}

.itemShare {
    grid-column: 4/5;
    grid-row: 6/7;
}

.itemdownload {
    grid-column: 3/4;
    grid-row: 6/7;
}

.itemupload {
    grid-column: 2/3;
    grid-row: 6/7;
}

.btn-canvas:hover {
    background-color: #f0c758;
}

.a:hover {
    background-color: #f0c758;
}

.card input {
    width: 290px;
    height: 60px;
    border-radius: 12px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

/*Gallery */

/* .gallery-grid-container{

} */

.gallery img {
    margin: 5px 25px;
    transition: 1s;
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
}

.gallery-container {
    /* background-color: #292929; */
    width: 1300px;
    background-color: burlywood;
}

.gallery-container img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

.btn-canvas {
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.btn-canvas img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

a {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.font-color {
    position: relative;
    display: inline-block
}

.stroke-color {
    position: relative;
    display: inline-block
}

/*Footer */

.main-footer {
    height: 120px;
    background-color: #292929;
    /* position: fixed; */
}

.main-footer .footer-logo {
    margin-bottom: 32px;
    width: 150px;
}

.footer-info {
    color: white;
}

/*flex helpers*/

.burger-menu {
    display: none;
}

.flex.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1020px;
    }
}

@media(max-width: 1120px) {
    .container {
        max-width: 900px;
    }
    #canvas {
        width: 450px;
        height: 450px;
    }
    .gallery img {
        padding: 5px;
        width: 150px;
        height: 150px;
        border-radius: 20px;
    }
    
}
    @media(max-width: 980px) {
        .container {
            max-width: 700px;
        }
        .btn-canvas img {
            width: 35px;
            height: 35px;
            cursor: pointer;
        }
        .btn-canvas {
            width: 50px;
            height: 50px;
        } 
        a {
            width: 45px;
            height: 45px;
        }
        .card input {
            width: 270px;
            height: 50px;
            border-radius: 20px;
            background-color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
        }
        .grid-container {
            margin-top: 10px;
            margin-left: 10px;
            height: 460px;
            grid-template-columns: repeat(7, 50px);
            grid-template-rows: repat(10, 50px);
            grid-gap: 5px;
        }
        .iteminput {
            grid-column: 1/6;
            grid-row: 1/2;
        }
        .itemup {
            grid-column: 2/3;
            grid-row: 6/7;
        }
        .itemdonw {
            grid-column: 2/3;
            grid-row: 8/9;
        }
        .itemright {
            grid-column: 3/4;
            grid-row: 7/8;
        }
        .itemleft {
            grid-column: 1/2;
            grid-row: 7/8;
        }
        .itemswich {
            grid-column: 6/7;
            grid-row: 1/2;
        }
        .itembigeer {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .itemlittel {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .itemadd {
            grid-column: 5/6;
            grid-row: 5/6;
        }
        .itemtrash {
            grid-column: 6/7;
            grid-row: 5/6;
        }
        .stroke-color {
            grid-column: 6/7;
            grid-row: 2/3;
        }
        .font-color {
            grid-column: 5/6;
            grid-row: 2/3;
        }
        .itemfont {
            grid-column: 5/7;
            grid-row: 7/9;
            height: 2.5rem;
        }
        .itemShare {
            grid-column: 6/7;
            grid-row: 10/11;
        }
        .itemdownload {
            grid-column: 4/5;
            grid-row: 10/11;
        }
        .itemupload {
            grid-column: 2/3;
            grid-row: 10/11;
        }
    }

    @media(max-width: 850px) {
        .container {
            max-width: 400px;
        }
        
        .gallery img {
            padding: 5px;
            width: 125px;
            height: 125px;
            border-radius: 20px;
            
        }

        .burger-menu {
            display: block;
            height: 40px;
            width: 40px;

        }
        .main-header .main-nav {
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            width: 250px;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            transform: translateX(100%);
            transition: transform .5s;
            z-index: 4;
        }
        body.menu-open .main-header .main-nav {
            transform: translateX(0);
        }
        .main-header .main-nav li:not(:last-child) {
            margin-inline-end: 0;
        }
       
        .main-header .main-nav li {
            width: 100%;
            height: 100%;
        }
        .main-header .main-nav a {
            background: transparent;
        }
        .main-header .main-nav a {
            width: 100%;
            background-color: #292929;
        }

        .meme-editor {
            flex-direction: column;
            align-items: center;
        }
        #canvas{
            margin-bottom: 10px;
            width: 340px;
            height: 340px;
        }
        .btn input{
            width: 150px;
        }

        .iteminput {
            grid-column: 2/4;
            grid-row: 1/2;
        }
        .itemup {
            grid-column: 4/5;
            grid-row: 3/4;
        }
        .itemdonw {
            grid-column: 4/5;
            grid-row: 5/6;
        }
        .itemright {
            grid-column: 5/6;
            grid-row: 4/5;
        }
        .itemleft {
            grid-column: 3/4;
            grid-row: 4/5;
        }
        .itemswich {
            grid-column: 6/7;
            grid-row: 1/2;
        }
        .itembigeer {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .itemlittel {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .itemadd {
            grid-column: 7/8;
            grid-row: 1/2;
        }
        .itemtrash {
            grid-column: 7/8;
            grid-row: 2/3;
        }
        .stroke-color {
            grid-column: 6/7;
            grid-row: 2/3;
        }
        .font-color {
            grid-column: 5/6;
            grid-row: 2/3;
        }
        .itemfont {
            grid-column: 3/5;
            grid-row: 2/3;
            height: 2.5rem;
        }
        .itemShare {
            grid-column: 6/7;
            grid-row: 10/11;
        }
        .itemdownload {
            grid-column: 4/5;
            grid-row: 10/11;
        }
        .itemupload {
            grid-column: 2/3;
            grid-row: 10/11;
        }
    
    }